doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .container
        h1= title
        a(href='/citta') Go to Squads